<app-header></app-header>


<div class="d-flex align-items-center justify-content-center mt-5">
  <div class="row g-0 w-100 margenHomeTop">
    <!-- Columna para la imagen -->

    <!-- Columna para el texto -->
    <div class="col-md-8 d-flex align-items-center justify-content-center">
      <div class="col-md-8 d-flex align-items-center justify-content-center mx-md-5 mx-3">
        <div class="card-body">
          <h5 class="card-title pricipaltext text-uppercase">Centro comercial The Point</h5>
          <h1 class="segundaritext">The Right Place to Be</h1>
          <div class="container_pricnital">
            <p class="contentPrinc">
              Bienvenido a The Point, el centro comercial donde encontrarás<br class="resposive"> todo lo que  necesitas en un solo lugar.
              Desde deliciosa comida hasta <br class="resposive">  los mejores productos para tu hogar, todo está aquí, esperándote.
            </p>
          </div>
          <div class=" d-md-flex justify-content-start seccion-1-button">
            <button type="button" class="btn btn-primary btn-square-home"
              onclick="window.open('https://www.waze.com/live-map/directions/sv/la-libertad/san-blas/the-point?navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location&to=place.ChIJhUqUHwDVfI8RMJn6Qz-MMvI', '_blank')">
              Waze
            </button>
            <button type="button" class="btn btn-outline-secondary btn-square-home ms-3"
              onclick="window.open('https://www.google.com/maps/place/The+Point/@13.4879,-89.3474879,17z/data=!4m6!3m5!1s0x8f7cd5001f944a85:0xf2328c3f43fa9930!8m2!3d13.4879!4d-89.3474879!16s%2Fg%2F11w3nbn40n?entry=ttu', '_blank')">
              Google Maps
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="w-100 d-flex align-items-center justify-content-center">
  <img src="./assets/img/vectores/Hero Section.png" class="img-fluid imageVectorhome" alt="Surfista" />
</div>




<div class="container-fluid mt-5" id="Comercios">
  <div class="circulo-container">
    <div class="circulo">
      <span class="ondas morada"></span>
      <span class="ondas rosa"></span>
      <span class=" circulo fondo"></span>
    </div>
  </div>
  <!--Section HOME end-->

  <!--Section Comercios start-->
  <div class="align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <p class="text-center textsecicion2title text-uppercase">¡Visítanos HOY!</p>
      <h2 class="text-center textsecicion2subtile">
        Descubre nuestros comercios:
      </h2>
      <div class="row mt-5">
        <div class="col-12">
          <div class="carousel-container" style="position: relative;">
            <button class="custom-prev" (click)="slickModal.slickPrev()" data-bs-slide="prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.354 1.354a.5.5 0 0 1 0 .707L5.207 8l6.147 5.939a.5.5 0 0 1-.708.707l-6.5-6.5a.5.5 0 0 1 0-.707l6.5-6.5a.5.5 0 0 1 .707 0z" />
              </svg>
            </button>


            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
              (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
              (beforeChange)="beforeChange($event)">
              <div ngxSlickItem class="slide px-2" *ngFor="let comercio of comercios; trackBy: trackByFn">
                <div class="card" style="width: auto;">
                  <img [src]="comercio.img" class="card-img-top" alt="{{comercio.nombre}}">
                  <div class="card-body">
                    <h5 class="card-title" style="height: 25px;">{{comercio.nombre}}</h5>
                    <p class="text-start" style="height: 79px;">{{comercio.descripcion}}</p>
                    <a [href]="comercio.url" class="btn-link" target="_blank">More Info <i
                        class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>

            <button class="custom-next" (click)="slickModal.slickNext()" data-bs-slide="next">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 14.854a.5.5 0 0 1 0-.708L10.793 8 4.646 1.854a.5.5 0 1 1 .708-.708l6.5 6.5a.5.5 0 0 1 0 .708l-6.5 6.5a.5.5 0 0 1-.708 0z" />
              </svg>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--Section Comercios end-->
</div>

<div class="w-100 d-flex align-items-center justify-content-center mt-5">
  <img src="./assets/img/vectores/picture.jpg" class=" imageVector3" alt="Surfista" />
</div>

<div class="seccionconte d-flex align-items-center justify-content-center">
  <div class="container-fluid">
    <!--Section 3 start-->
    <div class="">
      <div class="my-5 margenGlobal">
        <div class="row">
          <div class="col d-flex align-items-center justify-content-center">
            <!-- Cambia de flex-row a flex-column en pantallas pequeñas -->
            <div class="d-flex flex-column flex-md-row align-items-center g-3">
              <div class="card mx-3 mb-3 mb-md-0" style="width: 18rem;">
                <div class="card-body">
                  <img src="./assets/img/vectores/car-outline.svg" class="card-img-top card-seccion" alt="...">
                  <p>Disfruta de una amplia gama de restaurantes y comercios, todo en un mismo centro comercial.</p>
                </div>
              </div>
              <div class="card mx-3 mb-3 mb-md-0" style="width: 18rem;">
                <div class="card-body">
                  <img src="./assets/img/vectores/food-outline.svg" class="card-img-top card-seccion" alt="...">
                  <p>Contamos con parqueo privado para que puedas disfrutar de tu visita sin preocupaciones.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Section 3 end-->
  </div>
</div>


<div class="vector1">
  <img src="./assets/img/vectores/vector-beach-waves.svg" class="vector-beach-waves" alt="...">
</div>

<div class="cloud3 d-flex justify-content-end">
  <img src="./assets/img/vectores/vector-cloud-opacity.svg" class="" alt="...">

</div>

<div class="clound2">
  <img src="./assets/img/vectores/vector-cloud-1.svg" class="vector-cloud-1" alt="...">
</div>

<div class="clound3 d-flex justify-content-end">
  <img src="./assets/img/vectores/vector-cloud-1.svg" class="vector-cloud-2" alt="...">
</div>


<!--Section Logo end-->
<div class="container-scroll-infinite-home">
  <ngx-slick-carousel class="scroller-home" #slickModal="slick-carousel" [config]="slideConfig2">
    <div ngxSlickItem *ngFor="let logo of logos" class="scroller-home__inner logocarruel">
      <img [src]="logo" alt="Logo" />
    </div>
  </ngx-slick-carousel>
</div>

<!--Section Logo end-->

<!--Section Contacto end-->
<div class="contenidocontaco ">
  <div class="container-fluid mt-5">
    <!--Section 4 start-->
    <div class="align-items-center justify-content-center margenGlobal">
      <div class="my-5 margenGlobal" id="Ubicacion">
        <div class="margeUbica text-center"> <!-- Añadido text-center aquí -->
          <div class=" ">
            <h2 class="textsecion4">Ubicación</h2>
            <p class="textcontesecion4">
              The Point está convenientemente ubicado en dirección a San Blas, entre la <br class="resposive">
              gasolinera Puma y la
              gasolinera
              Texaco. Nuestra ubicación estratégica te permite <br class="resposive"> acceder fácilmente.
            </p>
          </div>
          <div class=" ">
            <img src="./assets/img/content/the-point-vista-aerea.jpg" class="img-fluid rounded imgubicacio" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <img src="./assets/img/vectores/freepik--tree-5--inject.svg" class="vector-cloud-6" alt="...">
</div>

<div class="  d-flex justify-content-end">
  <img src="./assets/img/vectores/freepik--tree-2--inject.svg" class="vector-cloud-7" alt="...">
</div>

<div class="clound4">
  <img src="./assets/img/vectores/vector-cloud-1.svg" class="vector-cloud-4" alt="...">
</div>

<div class="clound5 d-flex justify-content-end">
  <img src="./assets/img/vectores/vector-cloud-1.svg" class="vector-cloud-5" alt="...">
</div>


<div class="clound8">
  <img src="./assets/img/vectores/vector-white-wave.svg" class="vector-cloud-8" alt="...">
</div>


<!--Section 4 end-->
<div class="contactoSeccion">
  <div class="container-fluid ">
    <!--Section 5 start-->
    <div class="align-items-center justify-content-center margenGlobal " id="Contacto">
      <div class="my-5 margenGlobal">
        <div class="row">


          <!-- Columna para el texto -->
          <div class="col-sm-6 d-flex justify-content-center align-items-center ">
            <div class="card-body">
              <h2 class="texttilesecion5">¿Buscas un local?</h2>
              <p class="textsecion5">Si deseas conocer la disponibilidad de locales, <br class="resposive"> puedes
                contactarnos al: 7854-8869.</p>
            </div>
          </div>

          <div class="col-sm-6 d-flex justify-content-center align-items-center position-relative">
            <img src="./assets/img/vectores/vector-mask-parking-lot-the-point.png" class="img-fluid imageUbic"
              alt="The Point" />
          </div>
        </div>
      </div>
    </div>

    <!--Section 5 end-->
  </div>
</div>
<!--Section Contacto end-->

<app-footer></app-footer>
<router-outlet />