<app-header></app-header>
<div class="container-fluid mt-5">
  <!--Section 1 start-->
  <div class="d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row g-0">
        <div class="card-text p-4">
          <div>
            <h5 class="card-title pricipaltext text-uppercase">The Point</h5>
            <h2 class="segundaritext">The Right Place to Be</h2>
            <div class="container_pricnital">
              <p>
                Bienvenido a The Point, el centro comercial donde encontrarás todo lo que necesitas en un solo lugar.
                Desde deliciosa comida hasta los mejores productos para tu hogar, todo está aquí, esperándote.
              </p>
            </div>
            <div class="d-grid gap-2 d-md-flex d-flex justify-content-md-center seccion-1-button">
              <button class="btn  btn-primary  me-md-2 btn-square"
                onclick="window.open('https://www.google.com/maps/place/The+Point/@13.4879,-89.3474879,17z/data=!4m6!3m5!1s0x8f7cd5001f944a85:0xf2328c3f43fa9930!8m2!3d13.4879!4d-89.3474879!16s%2Fg%2F11w3nbn40n?entry=ttu', '_blank')">

                Waze
              </button>
              <button class="btn btn-outline-secondary btn-square" type="button"
                onclick="window.open('https://www.waze.com/live-map/directions/sv/la-libertad/san-blas/the-point?navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location&to=place.ChIJhUqUHwDVfI8RMJn6Qz-MMvI', '_blank')">
                Google maps
              </button>
            </div>
            <div class="card-img ">
              <img
              src="./assets/img/content/hero-section-the-point.jpg"
               class="img-fluid principalImage rounded" alt="Placeholder image" />
                <div id="Comercios"></div>
            </div>
            
          </div>
         
        </div>
        
      </div>
      
    </div>
  </div>
  <!--Section 1 end-->
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
  <!--Section 2 start-->
  <div class="align-items-center justify-content-center margenGlobal">

    <div class="my-5 margenGlobal">

      <p class="text-center textsecicion2title text-uppercase">¡Visitanos HOY!</p>

      <h2 class="text-center textsecicion2subtile">
        Descubre nuestros comercios:
      </h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-5">
        <div class="col">

          <div class="card h-100">
            <img
              src="https://images.unsplash.com/photo-1511406933301-8e740b28cc89?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="card-img-top rounded" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="">
                Egestas elit dui scelerisque ut eu purus aliquam vitae
                habitasse.
              </p>
              <a href="#" class="btn-link">More Info <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="https://images.unsplash.com/photo-1549479732-ee0adb0f5d32?q=80&w=2013&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="rounded card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="">
                Egestas elit dui scelerisque ut eu purus aliquam vitae
                habitasse.
              </p>
              <a href="#" class="btn-link">More Info <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="https://plus.unsplash.com/premium_photo-1661964205360-b0621b5a9366?q=80&w=2038&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="rounded card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="">
                Egestas elit dui scelerisque ut eu purus aliquam vitae
                habitasse.
              </p>
              <a href="#" class="btn-link">More Info <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="https://images.unsplash.com/photo-1493857671505-72967e2e2760?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="rounded card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="">
                Egestas elit dui scelerisque ut eu purus aliquam vitae
                habitasse.
              </p>
              <a href="#" class="btn-link">More Info <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section 2 end-->

  <!--Section 3 start-->
  <div class="align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="row">
        <div class="col d-flex align-items-center justify-content-start">
          <div class="col g-3">
           
            <div class="col">
              <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="66" height="96" fill="currentColor"
                  class="bi bi-backpack2 iconSecction3" viewBox="0 0 16 16">
                  <path d="M4.04 7.43a4 4 0 0 1 7.92 0 .5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14" />
                  <path fill-rule="evenodd"
                    d="M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10z" />
                  <path
                    d="M6 2.341V2a2 2 0 1 1 4 0v.341c2.33.824 4 3.047 4 5.659v1.191l1.17.585a1.5 1.5 0 0 1 .83 1.342V13.5a1.5 1.5 0 0 1-1.5 1.5h-1c-.456.607-1.182 1-2 1h-7a2.5 2.5 0 0 1-2-1h-1A1.5 1.5 0 0 1 0 13.5v-2.382a1.5 1.5 0 0 1 .83-1.342L2 9.191V8a6 6 0 0 1 4-5.659M7 2v.083a6 6 0 0 1 2 0V2a1 1 0 0 0-2 0M3 13.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V8A5 5 0 0 0 3 8zm-1-3.19-.724.362a.5.5 0 0 0-.276.447V13.5a.5.5 0 0 0 .5.5H2zm12 0V14h.5a.5.5 0 0 0 .5-.5v-2.382a.5.5 0 0 0-.276-.447L14 10.309Z" />
                </svg>
                <div class="card-body">
                  <p class="">
                    Disfruta de una amplia gama de restaurantes y comercios, todo en un mismo centro comercial. 
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="66" height="96" fill="currentColor"
                  class="bi bi-clipboard2-data iconSecction3" viewBox="0 0 16 16">
                  <path
                    d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z" />
                  <path
                    d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z" />
                  <path
                    d="M10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm4-3a1 1 0 0 0-1 1v3a1 1 0 1 0 2 0V9a1 1 0 0 0-1-1" />
                </svg>
                <div class="card-body">
                  <p class="">
                    Contamos con parqueo privado para que puedas disfrutar de tu visita sin preocupaciones.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-end">
          <img
            src="./assets/img/content/the-point-vista-cenital.jpg"
            class="rounded imgCard" alt="..." />
        </div>
      </div>
    </div>
  </div>
</div>
<!--Section 3 end-->

<div id="containerScrollInfiteHome" id="Ubicacion">
  <div class="scrollerHome" data-direction="right" data-speed="slow2" data-animated="true">
    <div class="scrollerHome__inner logocarruel">
      <div class="scrollerHome__inner logocarruel">
        <img src="https://sayhellosv.com/img/300-logo.png" alt="" />
        <img src="https://sayhellosv.com/img/Hawaiice_Logo.png" alt="" />
        <img src="https://sayhellosv.com/img/KrazyPapas_Logo.png" alt="" />
        <img src="https://sayhellosv.com/img/LOGO SURF CITY AVANTE.png" alt="" />
        <img src="https://sayhellosv.com/img/logo-CASTELLA-SAGARRA.png" alt="" />
        <img src="https://sayhellosv.com/img/Logo-Romani_2024.png" alt="" />
        <img src="https://sayhellosv.com/img/LOGOS-SUIZA.png" alt="" />
        <img src="https://sayhellosv.com/img/Prado.png" alt="" />
        <img src="https://sayhellosv.com/img/logo.png" alt="" />
        <!-- Duplicar estáticamente -->
        <img src="https://sayhellosv.com/img/300-logo.png" alt="" />
        <img src="https://sayhellosv.com/img/Hawaiice_Logo.png" alt="" />
        <img src="https://sayhellosv.com/img/KrazyPapas_Logo.png" alt="" />
        <img src="https://sayhellosv.com/img/LOGO SURF CITY AVANTE.png" alt="" />
        <img src="https://sayhellosv.com/img/logo-CASTELLA-SAGARRA.png" alt="" />
        <img src="https://sayhellosv.com/img/Logo-Romani_2024.png" alt="" />
        <img src="https://sayhellosv.com/img/LOGOS-SUIZA.png" alt="" />
        <img src="https://sayhellosv.com/img/Prado.png" alt="" />
        <img src="https://sayhellosv.com/img/logo.png" alt="" />
      </div>
  </div>
</div>


<script>
  if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
    const scroller = document.querySelector(".scrollerHome");
    const scrollerInner = scroller.querySelector(".scrollerHome__inner");

    scrollerInner.addEventListener("mouseenter", () => {
      scrollerInner.style.animationPlayState = "paused";
    });

    scrollerInner.addEventListener("mouseleave", () => {
      scrollerInner.style.animationPlayState = "running";
    });

    const isMobile = window.innerWidth <= 768;

    if (isMobile) {
      let touchStartX = null;

      scrollerInner.addEventListener("touchstart", (event) => {
        touchStartX = event.touches[0].clientX;
        scrollerInner.style.animationPlayState = "paused";
      });

      scrollerInner.addEventListener("touchend", () => {
        scrollerInner.style.animationPlayState = "running";
        touchStartX = null;
      });

      scrollerInner.addEventListener("touchmove", (event) => {
        if (touchStartX !== null) {
          const touchEndX = event.changedTouches[0].clientX;
          const deltaX = touchEndX - touchStartX;
          scrollerInner.scrollLeft -= deltaX;
          touchStartX = touchEndX;
        }
      });

      document.addEventListener("touchstart", (event) => {
        if (!scrollerInner.contains(event.target)) {
          scrollerInner.style.animationPlayState = "running";
        }
      });
    }
  }


</script>

<div class="container-fluid mt-5 ">
  <!--Section 4 start-->
  <div class="align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1">
          <div class="card-body text-start">
            <h2 class="textsecion4">Ubicación</h2>
            <p>
              The Point está convenientemente ubicado en dirección a San Blas, entre la gasolinera Puma y la gasolinera
              Texaco. Nuestra ubicación estratégica te permite acceder fácilmente.
            </p>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end order-2">
          <img
            src="./assets/img/content/the-point-vista-aerea.jpg"
            class="img-fluid rounded" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <!--Section 4 end-->

  <!--Section 5 start-->
  <div class="align-items-center justify-content-center margenGlobal seccion-5">
    <div class="my-5 margenGlobal">
      <div class="row">
        <!-- Columna para la imagen -->
        <div class="col-sm-6 d-flex justify-content-start align-items-center order-2 order-sm-1">
          <img
            src="./assets/img/content/the-point-vista-del-parqueo.jpg"
            class="img-fluid rounded" alt="..." />
        </div>
        <!-- Columna para el texto -->
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1 order-sm-2">
          <div class="card-body">
            <h2 class="textsecion4">¿Buscas un local?</h2>
            <p>
              Si deseas conocer la disponibilidad de locales, puedes contactarnos al: 7854-8869.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section 5 end-->
</div>

<!--Section 7 start -->

<div class="container-fluid" id="Contacto">
  <div class="align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class=" my-5">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="caption">CAPTION</div>
            <h1 class="display-5 acciontitle">
              Bibendum amet at molestie mattis.
            </h1>
            <p class="lead">
              Rhoncus morbi et augue nec, in id ullamcorper at sit.
            </p>
          </div>
          <div class="col-md-4 d-flex text-md-end">
            <button type="button" class="btn btn-outline-primary me-2 btn-square">
              Secondary Action
            </button>
            <button type="button" class="btn btn-primary  btn-square">
              Primary Action
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet />