<div class="container-fluid mt-5">

  <!--Section 1 start-->
  <div class="d-flex align-items-center justify-content-center full-height-card">
    <div class=" w-100">
      <div class="row g-0 full-height-card">
        <div class=" card-text p-4">
          <div>
            <h2 class="card-title">Pricing</h2>
            <h3>Bibendum amet at molestie mattis.</h3>
            <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed.
              Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar.
              Ferrentum scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus iaculis.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center seccion-1-button">
              <button class="btn btn-primary me-md-2" type="button">Primary Action</button>
              <button class="btn btn-outline-secondary" type="button">Secondary Action</button>
            </div>
            <div class="card-img">
              <img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Placeholder image">
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!--Section 1 end-->

  <!--Section 2 start-->
  <div class=" align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <h2 class="text-center mb-4">Caption</h2>
      <h2 class="text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Bibendum amet at molestie mattis.</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-5">
        <div class="col">
          <div class="card h-100">
            <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="">Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.</p>
              <a href="#" class=" btn-link">More Info <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="">Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.</p>
              <a href="#" class=" btn-link">More Info <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="">Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.</p>
              <a href="#" class=" btn-link">More Info <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="">Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.</p>
              <a href="#" class=" btn-link">More Info <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section 2 end-->

  <!--Section 3 start-->
  <div class=" align-items-center justify-content-center  margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="row">
        <div class="col-md-6">
          <div class="row row-cols-2 g-3 mt-5">
            <div class="col">
              <div class="card">
                <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://via.placeholder.com/200x200" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-end">
          <img src="https://via.placeholder.com/300x300" class="imgCard" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!--Section 3 end-->

  <!--Section 4 start-->
  <div class=" align-items-center justify-content-center margenGlobal">
    <div class="my-5 margenGlobal">
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1">
          <div class="card-body text-start">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed.
              Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar.</p>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end order-2">
          <img src="https://via.placeholder.com/600x400" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!--Section 4 end-->

  <!--Section 5 start-->
  <div class="align-items-center justify-content-center margenGlobal seccion-5">
    <div class="my-5 margenGlobal">
      <div class="row">
        <!-- Columna para la imagen -->
        <div class="col-sm-6 d-flex justify-content-start align-items-center order-2 order-sm-1 ">
          <img src="https://via.placeholder.com/600x400" class="img-fluid" alt="...">
        </div>
        <!-- Columna para el texto -->
        <div class="col-sm-6 d-flex justify-content-center align-items-center order-1 order-sm-2">
          <div class="card-body">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed.
              Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section 5 end-->
</div>
<!--Section 6 start-->
<div class="fondoTestimonio">
  <div class=" align-items-center justify-content-center margenGlobal mb-3 ">
    <div class="my-5 margenGlobal">


      <div class="row text-center">
        <div class="col-md-12">
          <!-- Carousel wrapper -->
          <div id="carouselBasicExample" class="carousel slide carousel-dark" data-bs-ride="carousel">
            <!-- Inner -->
            <div class="carousel-inner">
              <!-- Single item -->
              <div class="carousel-item active">
                <div class="mt-5 mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                    class="rounded-circle img-fluid shadow-1-strong" alt="sample image" width="100" height="100" />
                </div>
                <p class="text-muted mb-0">- Anna Morian</p>
                <p class="lead font-italic mx-4 mx-md-5">
                  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                  numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
                </p>
              </div>

              <!-- Single item -->
              <div class="carousel-item">
                <div class="mt-5 mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                    class="rounded-circle img-fluid shadow-1-strong" alt="sample image" width="100" height="100" />
                </div>
                <p class="text-muted mb-0">- Teresa May</p>
                <p class="lead font-italic mx-4 mx-md-5">
                  "Neque cupiditate assumenda in maiores repudiandae mollitia adipisci maiores
                  repudiandae mollitia consectetur adipisicing architecto elit sed adipiscing
                  elit."
                </p>
              </div>

              <!-- Single item -->
              <div class="carousel-item">
                <div class="mt-5 mb-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                    class="rounded-circle img-fluid shadow-1-strong" alt="sample image" width="100" height="100" />
                </div>
                <p class="text-muted mb-0">- Kate Allise</p>
                <p class="lead font-italic mx-4 mx-md-5">
                  "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur est laborum neque cupiditate assumenda in
                  maiores."
                </p>
              </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carousel wrapper -->
        </div>
      </div>

    </div>
  </div>
</div>
<!--Section 6 -->

<div class="container-fluid mt-5">


</div>
<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Company, Inc</p>

    <ul class="nav col-md-4 justify-content-center">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
    </ul>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-instagram"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-facebook"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="bi bi-whatsapp"></i></a></li>
    
    </ul>
  </footer>
</div>


<router-outlet />