.margenGlobal {
    margin: 50px;
}

nav {
    border-bottom: 1px solid #273B80;
}

.titlenav {
    color: #21272A;
    font-weight: 500;
}

.margenHomeTop {
    margin-top: 55px;
}

.navbar {
    padding: 16px 80px;
}

a {
    text-decoration: none !important;
}

.top-bar {
    background-color: #273B80;
}

.top-bar p {
    margin-bottom: 0;
    color: #ffffff;
}


.pricipaltext {
    color: #001D6C;
    margin-top: 95px;
    font-weight: 700;
    margin-bottom: 10px;
}

.segundaritext {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 10px;
}

.textsecion4 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.contentPrinc {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
}

.textcontesecion4 {
    font-weight: 400;
    font-size: 18px;
}

/*tiopo*/
.slick-next {
    background-color: #0684d8 !important;
    margin-left: 125px !important;
    color: white;
    border: none;
}

.slick-prev {
    z-index: 2;
    background-color: #0684d8 !important;
    margin-right: 125px !important;
    color: white;
    border: none;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.custom-prev,
.custom-next {
    z-index: 100;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}


.custom-prev {
    left: -30px;
}

.custom-next {
    right: -30px;
}

.custom-prev .carousel-control-prev-icon {
    background-image: none;
    border: 1px solid #273B80;
    background-color: #273B80;
}

.custom-next .carousel-control-next-icon {
    background-image: none;
    border: 1px solid #273B80;
    background-color: #273B80;
}



.container_pricnital {
    width: auto;
}

.btn-primary {
    font-weight: 500;
    z-index: 999;
    background: #2a43a3 !important;
    border-color: #273B80;
}

.btn-primary:hover {
    z-index: 999;
    background: #1c264f !important;
    border-color: #273B80;
}


.btn-outline-secondary {
    font-weight: 500;
    z-index: 999;
    background-color: #DEE9FB;
    color: #273B80;
    border-color: #273B80;
    border-width: 2px;
}

.btn-outline-secondary:hover {
    
    background-color: #4b81e6;
    color: #DEE9FB;
    border-color: #273B80;
}

.btn-outline-primary {
    background-color: #DEE9FB;
    color: #273B80;
    border-color: #273B80;
}

.btn-outline-primary:hover {
    background-color: #273B80;
    color: #DEE9FB;
    border-color: #273B80;
}


/**/




/*Imagen principal*/

.principalImage {
    object-fit: cover;
    width: 900px;
    height: 700px;
}

.pricipal {
    margin-top: 160px;
}

.full-height-card {
    height: 100vh;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCard {
    width: 100%;
    height: auto;
}

.seccion-1-button {
    margin-top: 35px;
    margin-bottom: 35px;
}

.slick-next {
    right: 0 !important;
}

.slick-prev {
    left: 0 !important;
}

.slick-dots {
    position: absolute;
    bottom: unset !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

/*section 2*/

.textsecicion2title {
    color: #001D6C;
    font-weight: 700;
    font-size: 20px;
}



.textsecicion2subtile {
    margin-top: -15px;
    font-weight: 700;
    font-size: 42px;
}

.btn-link {
    font-weight: 500;
    color: #2D51C8;
}

/*serction 3*/

.iconSecction3 {
    color: #2D51C8;
}

.section3text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.5px;
}


/**/
/*testimonio*/

.carousel-inner {
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}

.carousel-item {
    text-align: center;
    background: #fff;
    height: 400px !important;
}

.vector1 {
    margin-top: -15px;
}

.vector-beach-waves {
    width: 100%;
}

.cloud {
    margin-top: -180px;
}

.cloud3 {
    margin-top: -370px;
}

.vector-cloud-1 {
    margin-left: 95px;
    margin-top: -880px;
}

.vector-cloud-2 {
    margin-right: 75px;
    margin-top: -380px;
}

.contenidocontaco {
    height: auto;
    padding: 50px;
    background: #D3F3FA;
}

.imgubicacio {
    height: 500px;
    width: 850px;
}

.margeUbica {
    margin: 35px 0 35px 0;
}


.fondoTestimonio {
    padding: 35px;
    background: #DEE9FB;
}

.carousel-control-next {
    right: 39px;
}

.carousel-control-prev {
    left: 39px;
}

.vector-cloud-6 {
    margin-top: -400px;
}

.vector-cloud-7 {
    margin-top: -340px;
}


.vector-cloud-4 {
    width: 180px;
    margin-left: 35px;
    margin-top: -1200px;
}

.vector-cloud-5 {
    width: 150px;
    margin-right: 20px;
    margin-top: -900px;
}


.vector-cloud-8 {
    z-index: 5;
    width: 100%;
    margin-top: -185px;
}

.contactoSeccion {
    z-index: 999;
    margin-top: -90px;
    padding: 50px;
    background: #273B80;
}

/**/

.containerScrollInfiteHome {
    background: #000000ab;
}

.texttilesecion5,
.textsecion5 {
    color: #fff;
}

.textsecion5 {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}


.texttilesecion5 {
    font-weight: 700;
    font-size: 42px;
    color: #fff;
}


.imageUbic {
    width: 70%;
}

/**/

.acciontitle {
    font-weight: 700;
    font-size: 42px;
}

.textcontendorSeccion4 {
    padding: 0 90px 0 0;
}


/*footer*/
.footer {
    height: auto;
    background: #1C264F;
}


.footer p,
.footer a,
.footer i {
    color: #fff !important;
}

.footer ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.centertextfootter {
    flex: 1;
    display: flex;
    justify-content: center;
}

.icontfooter {
    display: flex;
    justify-content: flex-end;
}

.icontfooter .bi {
    font-size: 1.2rem;
}


.seccion-5 {
    margin-top: 140px;
    margin-bottom: 45px;
}

.btn-square {
    border-radius: 0 !important;
    padding: 0 16px 0 16px;
    width: 172px;
    height: 48px;
}

.btn-square-nav {
    margin-left: 6px;
    border-radius: 0 !important;
    padding: 0 16px 0 16px;
    /*width: 152px;*/
    height: 48px;
}

.btn-square-home {

    border-radius: 0 !important;
    padding: 0 16px 0 16px;
    /*width: 152px;*/
    height: 48px;
}

.imageVectorContacto {
    width: 100px;
    margin-bottom: -20px;
}

.imageVectorubicacion {
    width: 200px;
    margin-top: -340px;
    z-index: 20;
}

.imageVector2 {
    width: 200px;
    margin-top: -340px;
    z-index: 20;
}

.card-seccion {
    width: 60px;
}

.seccionconte {
    height: 60vh;
    background: #2A43A3;
}

.imageVectorhome {
    margin-top: -350px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 2;
}

.imageVector3 {
    max-width: 100%;

}

@media (max-width: 1200px) {

    .imageVectorhome {
        margin-top: -100px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        z-index: 2;
    }

    .btn-square {
        width: auto;
    }

    .margenGlobal {
        margin: 25px;
    }

    .textcontendorSeccion4 {
        padding: 0 60px 0 0;
    }

    .textsecion4 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 15px;
    }

}

@media (max-width: 767.98px) {
    .card-body {
        flex-direction: column;
    }

    .principalImage {
        width: auto;
        height: auto;
    }

    .container_pricnital {
        width: auto;
    }

    .seccion-5 {
        margin-top: 70px;
        margin-bottom: 35px;
    }

    .btn-square {
        padding: 0 16px 0 16px;
        width: 149px;
        height: 48px;
        margin-bottom: 45px;
    }

    .btn-square-nav {
        margin-left: 15px;
        margin-top: 15px;
    }

    .btn-square-home {
        margin-left: 0;
        margin-top: 15px;
    }

    .textcontendorSeccion4 {
        padding: 0 30px 0 0;
    }

    .textsecion4 {
        font-size: 37px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .imageVector2 {
        width: 150px;
        margin-top: -320px;

    }

    .imageVectorhome {
        margin-top: -180px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        z-index: 2;
    }

    .vector-cloud-7 {
        width: 150px;
        margin-top: -266px;
    }

    .contenidocontaco {
        padding: 30px 0 30px 0;
    }

    .vector-cloud-6 {

        display: none;
    }

    .imgubicacio {
        width: auto;
        height: auto;
    }

    .vector-cloud-5 {
        display: none;
    }

    .vector-cloud-4 {
        margin-top: -1225px
    }

    .vector-cloud-8 {
        margin-top: -174px;
    }

    .resposive {
        display: none;
    }

    .imageUbic {
        width: 90%;
    }
}

@media (max-width: 500px) {

    .segundaritext {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .contentPrinc {
        font-weight: 400;
        font-size: 16px;
        line-height: 25.2px;
    }

    .vector-cloud-4 {
        margin-left: -2px;
        width: 124px;
        z-index: 0;
        margin-top: -700px;
    }


    .vector-cloud-8 {
        margin-top: -169px;
    }

    .texttilesecion5 {

        font-size: 35px;
    }

    .textsecion5 {
        font-size: 17px;

    }


    .contactoSeccion {
        padding: 60px 0 60px 0;

    }

    .custom-prev,
    .custom-next {
        transform: translateY(70%);
    }

    .custom-prev {
        left: -14px;
    }

    .custom-next {
        right: -14px;
    }


    .imageVector3 {
        object-fit: cover;
        height: 315px;
        max-width: 100%;
    }

    .imageVectorhome {
        margin-top: -30px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        z-index: 2;
    }


    .margenHomeTop {
        margin-top: 100px;
    }

    .container-scroll-infinite-home {
        margin-top: 20px;
    }

    .imageVectorubicacion {
        width: 150px;
        margin-top: -240px;

    }

    .imageVector2 {
        max-height: 214px;
        height: 100%;
        width: 150px;
        margin-top: -260px;
        z-index: 20;
    }

    .textcontendorSeccion4 {
        padding: 0 0 0 0;
    }

    .pricipal {
        margin-top: 100px;
    }

    .carousel-inner {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    .iconSecction3 {
        margin-left: 6px;
    }

    .carousel-item {
        text-align: center;
        height: 450px !important;
    }

    .carousel-control-next {
        right: -39px;
    }

    .carousel-control-prev {
        left: -40px;
    }

    .lead {
        font-size: 15px;
    }

    .margenGlobal {
        margin: 2px;
    }

    .seccion-5 {
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .imgCard {
        width: 100%;
        height: auto;
    }

    .navbar {
        padding: 15px;
    }

    .acciontitle {
        font-size: 35px;
    }

    .textsecion4 {
        z-index: 50;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    /*seciotn 2 */


    .textsecicion2title {
        font-size: 15px;
    }

    .textsecicion2subtile {
        font-weight: 700;
        font-size: 30px;
    }

}



.logocarruel img {
    width: 200px;
    height: 100px;
    margin-right: 0;
    object-fit: contain;
}


.container-scroll-infinite-home {

    height: 160px;
    width: 100%;
    background: #2D51C8 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Evita que el contenido sobresalga */
}


.scroller-home {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}